<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="container-fluid page">
            <mat-card class="mobileview">
                <mat-toolbar class="head_cp">
                    <span>Change Password</span>
                </mat-toolbar>

                <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="changePwd()">
                    <!-- <mat-form-field style="text-align: center">

                <input matInput type="password" placeholder="Current Password" formControlName="password" name="password">
            </mat-form-field> -->
                    <mat-form-field appearance="fill" style="text-align: center; margin-top: 20px">
                        <mat-label>Enter your old password</mat-label>
                        <input matInput type="password" formControlName="cur_password" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="text-align: center">
                        <mat-label>Enter the new password</mat-label>
                        <input matInput type="password" formControlName="new_password" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="text-align: center">
                        <mat-label>Please confirm your password</mat-label>
                        <input matInput type="password" formControlName="cnf_password" />
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit">
            Submit
          </button>
                </form>
            </mat-card>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>