<h2 mat-dialog-title class="head">Know more about ATRIA</h2>
<mat-dialog-content class="mat-typography">
    <p>Anemia</p>
    <ul>
        <li>
            12 g/dL (Female)> 13 g/dL (Male)>Hemoglobin
        </li>
    </ul>
    <p>Severe Renal Disease</p>
    <ul>
        <li> 30 mL/min or dialysis-dependent>Glomerular filtration rate</li>
    </ul>
    <p>Any Prior Hemorrhage Diagnosis</p>
    <ul>
        <li>Ex: GI bleed, intracranial hemorrhage</li>

    </ul>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>