<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="26" class="mobileview">
        <img class="logo_admin" style="width: 80% !important; margin-left: 30px" src="assets/image/Natco-Login.png" />
        <mat-card-title style="
        text-align: center;
        text-align: center;
        font-weight: 800;
        color: #df2e30;
      ">Anticoagulant calculator</mat-card-title>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="logInUser()">
            <mat-form-field style="text-align: center">
                <input matInput placeholder="Username" name="email" formControlName="email" />
            </mat-form-field>

            <mat-form-field style="text-align: center">
                <input matInput type="password" placeholder="Password" formControlName="password" name="password" />
            </mat-form-field>
            <div class="captcha">
                <ngx-recaptcha2 #captchaElem formControlName="captcha" [siteKey]="siteKey">
                </ngx-recaptcha2>
            </div>

            <button mat-raised-button color="primary" style="margin-left: 88px; margin-right: 88px;     margin-top: 4%;" type="submit">
        Login
      </button>
        </form>
    </mat-card>
</div>
<!-- <p>
    login works
</p> -->