.mat-card:not([class*="mat-elevation-z"]) {
    /* box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
}

.page {
    padding-top: 1rem;
    background: #fff;
}

.header {
    color: #005baa;
    font-weight: 600;
    font-family: "poppins";
    font-size: 20px;
}

.pat_header {
    color: #005baa;
    font-weight: 600;
    font-family: "poppins";
    font-size: 20px;
}

.content {
    color: #707070;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

.mat-card.secondcard {
    margin-top: 25px;
}

.mat-card.patient_card {
    margin-top: 25px;
}

.res_table {
    border-collapse: collapse;
    border-radius: 1px solid;
}

td {
    border: 1px solid;
    border-color: #e4e4e4;
    text-align: center;
    color: #707070;
}

th {
    border: 1px solid;
    border-color: #e4e4e4;
    background-color: #efefef;
    color: #707070;
    /* padding-left: 50px;
    padding-right: 50px; */
    text-align: center;
}

.radiobtn {
    float: right;
}

 ::ng-deep.mat-radio-outer-circle {
    border-color: #bebebe;
}

 ::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #2e3192;
}


/* ::ng-deep.mat-radio-checked .mat-radio-inner-circle {
        transform: scale(1);
    } */

 ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #bebebe;
}

 ::ng-deep.mat-radio-checked,
.mat-radio-inner-circle {
    transform: scale(1);
}


/* .square-radio {
        border: 1px solid black;
        margin: 2px;
        width: 40px;
        height: 20px;
        position: relative;
    
    } */

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.p-tag {
    color: #707070;
    font-size: 15px;
}

span.clear-btn {
    border-radius: 4px;
    padding: 8px 16px 8.2px 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #8080803d;
    background-color: #ee1e24;
    color: #fff;
}

.clear {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%);
}

.clear-btn {
    margin-left: 10px;
}

.inter-head {
    color: #005baa;
    font-weight: 600;
    font-size: 20px;
    font-family: "poppins";
}

.disc_head {
    color: #005baa;
    font-weight: 600;
    font-size: 16px;
    font-family: "poppins";
}

.ref_head {
    color: #005baa;
    font-weight: 600;
    font-size: 16px;
    font-family: "poppins";
}

.disc_def {
    color: #707070;
    /* font-weight: 400; */
    font-size: 14px;
    /* font-family: 'Roboto'; */
}

.ref_def {
    color: #707070;
    /* font-weight: 400; */
    font-size: 14px;
}

.disclaimer {
    margin-top: 15px;
}

.reference {
    margin-top: 15px;
}

button.mat-focus-indicator.mat-stroked-button.mat-button-base {
    background-color: #005baa;
    color: white;
}

.i-icon {
    cursor: pointer;
}

.patient {
    padding: 0px 15px 0 15px;
    border-color: #80808026;
    border-radius: 4px;
    background-color: #ee1e24;
    color: white;
    margin-bottom: 10px;
}

.inputbox {
    border: 1px solid gray;
}


/* p.box.p-tag {
        background: border-box;
        border: 1px solid #80808080;
        border-radius: 4px;
        padding: 5px;
    } */