<mat-nav-list>
  <div class="logo py-2">
    <img
      src="./assets/image/Natco-Logo.png"
      alt="Company Logo"
      style="width: 85%"
    />
  </div>
  <mat-divider></mat-divider>
  <!-- <h2 matSubheader class="mt-2">Calculator</h2> -->

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/calculator1"
  >
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard-component/calculator1"> -->
    <mat-icon>dashboard</mat-icon> HAS-BLED Score
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/calculator2"
  >
    <mat-icon>dashboard</mat-icon> ATRIA Score
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/calculator3"
  >
    <mat-icon>dashboard</mat-icon> VTE Risk Score
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/calculator4"
  >
    <mat-icon>dashboard</mat-icon> CHA2DS2-VASc Score
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/calculator5"
  >
    <mat-icon>dashboard</mat-icon> Cardiovascular Calculator
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/calculator6"
  >
    <mat-icon>dashboard</mat-icon> COVID-19 Severity Index
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/calculator7"
  >
    <mat-icon>dashboard</mat-icon> Argatroban Dosing
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/pastreports"
  >
    <mat-icon>list_alt</mat-icon> Past reports
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/changepassword"
  >
    <mat-icon>list_alt</mat-icon> Change password
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/disclaimer">
    <mat-icon>list_alt</mat-icon> Disclaimer
  </a>
  <a>
    <img
      src="./assets/image/demologo.png"
      alt="Demo Logo"
      style="width: 63%; margin-left: 20px"
    />
  </a>
</mat-nav-list>
