<h2 mat-dialog-title class="head">Know more about HAS-BLED</h2>
<mat-dialog-content class="mat-typography">
    <p>Hypertension</p>
    <ul>
        <li>
            Uncontrolled with systolic Blood Pressure >160 mmHg
        </li>
    </ul>
    <p>Renal dysfunction</p>
    <ul>
        <li>Chronic dialysis, renal transplantation, or serum creatinine ≥ 200 μmol/L</li>
    </ul>
    <p>Liver dysfunction</p>
    <ul>
        <li>Bilirubin >2x normal</li>
        <li>Alkaline Phosphatase >3x normal</li>
        <li>Liver transaminases (e.g. AST, ALT) >3x normal</li>
    </ul>
    <p>Stroke history</p>
    <p>Bleeding history</p>
    <ul>
        <li>Major bleeding or predisposition</li>
        <li>Bleeding that required hospitalization</li>
        <li>Bleeding with serious consequences (e.g. Intracranial Hemorrhage)</li>
        <li>Hemoglobin decrease of >2 g/dl</li>
        <li>Bleeding that required transfusion</li>

    </ul>
    <p>Labile INRs</p>
    <ul>
        <li>History of over-Anticoagulation</li>

    </ul>
    <p>Elderly</p>
    <ul>
        <li>
            Age over 65 years old
        </li>
    </ul>
    <p>Drugs (up to 1 point for meds and 1 point for Alcohol)</p>
    <ul>
        <li>Other Anticoagulants</li>
        <li>Anti-platelet agents</li>
        <li>NSAIDs</li>
        <li>Alcohol ≥8 drinks weekly</li>
    </ul>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>