<div class="container-fluid page">
  <!-- <div class="d-flex page__box p-3 mt-2">Has Bled Calculator</div>
    <div class="page__content shadow p-3 position-relative"> -->
  <mat-card>
    <mat-card-title class="header">ATRIA Bleeding Risk Score</mat-card-title>
    <mat-card-content class="content">
      Accurate prediction of hemorrhage risk on warfarin is vital to the
      anticoagulation therapy decision. Based on 5 easily available clinical
      variables, the ATRIA score reflects the experience of a large, diverse
      group of patients with atrial fibrillation assembled from community care
      and followed up for a longer period than prior studies. When collapsed
      into a 3-category risk score, the ATRIA study risk scheme was able to
      identify sizable proportions of patients who fell into the most clinically
      meaningful categories, namely, low or high risk for hemorrhage. The ATRIA
      study scheme led to improvements in accurate net reclassification when
      compared to alternative schemes.
    </mat-card-content>
  </mat-card>

  <mat-card class="secondcard">
    <!-- <button class="patient" (click)="openpatient()">Patient detail</button> -->
    <form [formGroup]="formGroup" (ngSubmit)="ScoreSubmit()">
      <div class="row">
        <div class="col-sm-6">
          <p class="p-tag">
            <span>Anemia</span>

            <span class="radiobtn"
              ><mat-radio-group
                aria-label="Select an option"
                formControlName="score1"
              >
                <mat-radio-button value="3">Yes</mat-radio-button>
                <mat-radio-button value="0">No</mat-radio-button>
              </mat-radio-group></span
            >
          </p>
          <p class="p-tag">
            <span>Severe Renal Disease</span>
            <span class="radiobtn"
              ><mat-radio-group
                aria-label="Select an option"
                formControlName="score2"
              >
                <mat-radio-button value="3">Yes</mat-radio-button>
                <mat-radio-button value="0">No</mat-radio-button>
              </mat-radio-group></span
            >
          </p>
          <p class="p-tag">
            <span>Age ≥ 75 years</span>
            <span class="radiobtn"
              ><mat-radio-group
                aria-label="Select an option"
                formControlName="score3"
              >
                <mat-radio-button value="2">Yes</mat-radio-button>
                <mat-radio-button value="0">No</mat-radio-button>
              </mat-radio-group></span
            >
          </p>
        </div>
        <div class="col-sm-6">
          <p class="p-tag">
            <span>Any Prior Hemorrhage Diagnosis</span>
            <span class="radiobtn"
              ><mat-radio-group
                aria-label="Select an option"
                formControlName="score4"
              >
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="0">No</mat-radio-button>
              </mat-radio-group></span
            >
          </p>
          <p class="p-tag">
            <span>Hypertension History</span>
            <span class="radiobtn"
              ><mat-radio-group
                aria-label="Select an option"
                formControlName="score5"
              >
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="0">No</mat-radio-button>
              </mat-radio-group></span
            >
          </p>
        </div>
      </div>

      <div>
        <p class="p-tag">
          <span><button mat-stroked-button type="submit">Submit</button></span>
          <span class="clear-btn"
            ><span class="clear" mat-stroked-button (click)="reset()"
              >Clear</span
            ></span
          >
        </p>
        <hr />
        <div>
          <p class="p-tag box">
            ATRIA: Anticoagulation and Risk Factors in Atrial Fibrillation
            <span class="i-icon">
              <mat-icon (click)="openDialog()">error_outline</mat-icon>
            </span>
          </p>
        </div>
        <hr />
        <p class="inter-head">Interpretation</p>
        <!-- <p class="p-tag">
                    <span>Score: {{score}}</span>
                    
                 </p>  -->
        <div class="table-responsive">
          <table class="table">
            <tr class="res_table">
              <th>ATRIA Score</th>
              <th>Risk category</th>
              <th>Clinical interpretation</th>
            </tr>
            <tr>
              <td>{{ score }}</td>
              <td>{{ risk_cat }}</td>
              <td>
                {{ bleeding_per }} Major Bleeding rate/ Annual Risk of
                Hemorrhage. {{ treatment_rec }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </form>

    <!-- <div class="disclaimer">
            <p class="disc_head">Disclaimer: </p>
            <span class="disc_def">HAS-BLED has been validated for warfarin, but not for the new anticoagulants. Calculations alone should never dictate patient care, and are no substitute for professional judgement.</span>
        </div> -->

    <div class="reference">
      <p class="ref_head">References:</p>
      Fang MC, Go AS, Chang Y, et al. A new risk scheme to predict
      warfarin-associated hemorrhage: The ATRIA (Anticoagulation and Risk
      Factors in Atrial Fibrillation) Study. <i>J Am Coll Cardiol</i>.
      2011;58(4):395-401.
    </div>

    <!-- <table>
        <tr class="res_table">
            <th>Has Bled Score</th>
            <th>Bleeds per 100 patient years</th>
        </tr>
        <tr>
            <td>0</td>
            <td>1.13</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1.02</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1.88</td>
        </tr>
        <tr>
            <td>3</td>
            <td>3.74</td>
        </tr>
        <tr>
            <td>4</td>
            <td>8.70</td>
        </tr>
        <tr>
            <td>5</td>
            <td>12.5</td>
        </tr>
    </table> -->
  </mat-card>
</div>
