<div class="container-fluid page">
    <!-- <div class="d-flex page__box p-3 mt-2">Has Bled Calculator</div>
      <div class="page__content shadow p-3 position-relative"> -->
    <mat-card>
        <mat-card-title class="header">Disclaimer</mat-card-title>
        <mat-card-content class="content">
            Scientific contents & web development of this publication have been compiled by development team and medical writers of RxHCM Solutions LLP with unrestricted educational grant from Natco Pharma Ltd. from reasonable sources, acknowledged and accredited
            by author(s) and contributors of the material referenced herein. The views, if any, expressed in this publication are not influenced by any opinion or suggestion by Natco Pharma Ltd. and are solely the views of medical experts. Although all
            reasonable care has been taken in compiling and checking the contents of this publication, the author(s) or Natco Pharma Ltd., or its directors, employee or agents shall not be responsible or liable in any manner whatsoever and howsoever for
            any death, injury or damage to any
        </mat-card-content>
    </mat-card>

</div>